*{
    box-sizing: border-box;
}

body,div,button,span,p{
    margin: 0;
    padding: 0;
}

body{
    background-color: #003;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*-----------------carta----------------*/

.content_box{
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carta{
    background-color: #111;
    color: #fff;
    min-width: 280px;
    height: 270px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    transition: height .7s ease-in-out;
    overflow: hidden;
}

.carta:hover{
    height: 400px;
}



.ball {
    position: absolute;
    background-color: #48e;
    width: 300px; 
    height: 300px;  
    border-radius: 50%;
    z-index: 1;
    top: -130px; 
    right: -190px; 
    transition: top 1s ease-in-out, right 1s ease-in-out;
}

.img{
    z-index: 5;
    position: relative;
}

.carta:hover .ball{
    top: -180px;
    right: -20px;
}

.content{
    position: relative;
    margin-bottom:30px;
}

.title{
    margin: 5px;
    font-size: 1.5rem;
}

.title{
    display: block;
    position: absolute;
    opacity: 1;
    right: 0;
    left: 0;
    bottom: -20px;
    transition: bottom .8s, opacity 3s;
}
.carta:hover .title{
    bottom: -30px;
    opacity: 1;
}

.content p{
    margin: 10px;
    letter-spacing: 3px;
}

.size{
    display: block;
    position: absolute;
    opacity: 0;
    right: 0;
    left: 0;
    bottom: -100px;
    transition: bottom 1s, opacity 3s;
}
.carta:hover .size{
    bottom: -60px;
    opacity: 1;
}

.color{
    display: block;
    position: absolute;
    opacity: 0;
    right: 0;
    left: 0;
    bottom: -110px;
    transition: bottom 1.3s, opacity 3s;
}
.carta:hover .color{
    bottom: -90px;
    opacity: 1;
}

span{
    background-color: #fff;
    color: #000;
    border-radius: 3px;
    padding: 0 5px 0 5px;
}

.color span{
    border-radius: 50%;
    background-color: #48e;
    padding: 0 11px 0 11px;
    margin: 2px;
}

.color span:last-child{
    background-color: #582;
}

.button{
    background-color: #48e;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: #000;
    margin-top: 15px;
    font-size: 1rem;
    font-weight: bold;
}

.button{
    position: absolute;
    opacity: 0;
    width: 120px;
    right: 0;
    margin: auto;
    left: 0;
    bottom: -200px;
    transition: bottom 1.5s, opacity 3s;
}
.carta:hover .button{
    bottom: -140px;
    opacity: 1;
}









