*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #333;
}

/*---------img------------*/


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

.container_container{
    background-image: url(img/thor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 400px;
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
}

.container_container2{
    background-image: url(img/loki.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 400px;
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
}

.container_container3{
    background-image: url(img/ironman.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 400px;
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
}

.hover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 400px;
    height: 40%;
    backdrop-filter: blur(10px);
    transition: top 1s;
    color: #fff;
    border-radius: 10px;
}


/*-------------primera carta-----------------*/
.content h2{
    margin: 3px;
    position: relative;
    top: 150px;
    transition: top .5s;
}

.container_container:hover .content h2{
    top: -10px;
}

.content p{
    margin: 3px;
    font-size: 1.1rem;
    position: relative;
    top: 150px;
    transition: top 1s;
}

.container_container:hover .content p{
    top: -10px;
}

.social1{
    position: relative;
    top: 150px;
    transition: top 1.5s;
}
.container_container:hover .social1{
    top: -10px;
}

.social2{
    position: relative;
    top: 150px;
    transition: top 2s;
}
.container_container:hover .social2{
    top: -10px;
}
.social3{
    position: relative;
    top: 150px;
    transition: top 2.5s;
}
.container_container:hover .social3{
    top: -10px;
}

/*----------seguunda carta----------*/

.content2 h2{
    margin: 3px;
    position: relative;
    top: 150px;
    transition: top .5s;
}

.container_container2:hover .content2 h2{
    top: -10px;
}


.content2 p{
    margin: 3px;
    font-size: 1.1rem;
    position: relative;
    top: 150px;
    transition: top 1s;
}

.container_container2:hover .content2 p{
    top: -10px;
}

.social4{
    position: relative;
    top: 150px;
    transition: top 1.5s;
}
.container_container2:hover .social4{
    top: -10px;
}

.social5{
    position: relative;
    top: 150px;
    transition: top 2s;
}
.container_container2:hover .social5{
    top: -10px;
}

.social6{
    position: relative;
    top: 150px;
    transition: top 2.5s;
}
.container_container2:hover .social6{
    top: -10px;
}

/*---------------tercera carta-------------------*/

.content3 h2{
    margin: 3px;
    position: relative;
    top: 150px;
    transition: top .5s;
}

.container_container3:hover .content3 h2{
    top: -10px;
}

.content3 p{
    margin: 3px;
    font-size: 1.1rem;
    position: relative;
    top: 150px;
    transition: top 1s;
}

.container_container3:hover .content3 p{
    top: -10px;
}
.social7{
    position: relative;
    top: 150px;
    transition: top 1.5s;
}
.container_container3:hover .social7{
    top: -10px;
}

.social8{
    position: relative;
    top: 150px;
    transition: top 2s;
}
.container_container3:hover .social8{
    top: -10px;
}

.social9{
    position: relative;
    top: 150px;
    transition: top 2.5s;
}
.container_container3:hover .social9{
    top: -10px;
}


/*-----------------------------------*/



.social{
    margin-top: 10px;
}

.social a{
    font-size: 1.3rem;
    text-decoration: none;
    color: #fff;
    margin: 0 5px;
}

.container_container:hover .content{
    top: 250px;
}

.container_container2:hover .content2{
    top: 250px;
}
.container_container3:hover .content3{
    top: 240px;
}

.container_container{
    transition: transform .8s;
}

.container_container:hover{
    box-shadow: 0 0 20px 10px #fff4;
    transform: scale(1.1);
}

.container_container2{
    transition: transform .8s;
}

.container_container2:hover{
    box-shadow: 0 0 20px 10px #fff4;
    transform: scale(1.1);
}

.container_container3{
    transition: transform .8s;
}

.container_container3:hover{
    box-shadow: 0 0 20px 10px #fff4;
    transform: scale(1.1);
}

@media screen and (max-width:700px){
    .container{
        flex-direction: column;
    }.todo{
        margin: 25px 0;
    }

}

