*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*------------Header----------------------*/

.header{
    margin-top: 20px;
}
.header_logo img{
    width: clamp(10px,40vw,200px);
}

.header_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav_ul{
    display: flex;
    gap: 25px;
    font-size: clamp(.5rem,2.8vw,1.4rem);
}

.nav_li a{
    text-decoration: none;
    color: #fff;
}

.nav_li a:hover{
    color: #f53;
}

.nav_li{
    list-style: none;
}

.buscar{
    margin: 13px;
    background-color: transparent;
    color: #fff;
    outline: none;
    backdrop-filter: blur(10px);
    border: 1px solid #FFF;
    border-radius: 3px;
    padding: 8px;
    width: clamp(150px,25vw,300px);
}

.buscar::placeholder{
    color: #fff;
}


.send{
    display: none;
}

body{
    background: linear-gradient(to right,#000000 0%,transparent 250%),  url(../portada/img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

/*---------------main----------------------------*/

.main{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 180px;
    padding-left:20px ;
}

.content_img img{
    max-width: clamp(300px,70vw,700px);
}


span{
    color: #999;
    border-right: 1px solid #999;
    margin: 3px;
    padding-right: 5px;
}

.span{
    margin: 2px;
}

span:nth-child(2){
    background-color: #f53;
    color: #fff;
    border: none;
    padding: 0;
}

span:nth-child(3){
    border-left: 1px solid #999 ;  
    padding-left: 8px;
}

span:last-child{
    border: none;
}

p{
    width: clamp(300px,50vw,500px);
    margin: 10px 0 10px 0;
    font-size: clamp(1rem,5vw,1.5rem);
}

.button{
    margin: 10px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    border-radius: 5px;
    max-width: 500px;
}

.button{
    background-color: 	#db0000;
}

.button:hover{
    opacity: .8;
}

.button1{
    padding: 2px 20px;
}

.button:last-child{
    background-color: transparent;
    color: #fff;
    border: 1px solid #777;
    width: 120px;
    padding: 3px;
}

.button:last-child:hover{
    background-color: 	#db0000;
    color: #000;
    border: 1px solid #000;
}

.img_ver{
    text-align: center;
    position: absolute;
    bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_ver img {
    width: clamp(10px,8vw,60px);
}
.img_ver a {
    font-size: clamp(1rem,5vw,1.6rem);
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: none;
}

.img_ver a:hover{
    border-bottom:1px solid #999 ;
    color: #db0000;
}

/*-----------------queries------------------*/

@media screen and (min-width:700px){
    .header_nav{
        justify-content: space-evenly;
        flex-direction: row;
        padding-top: 20px;
    }.main{
        left: 100px;
        top: 40px;
    }
}
@media screen and (max-width:600px){
    .main{
        margin-top:100px ;
    }
}
@media screen and (min-width:800px){
    .main{
        margin-top:150px ;
        left: 50px;
    }.img_ver{
        bottom: -80px;
    }
}