*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------carta--------------------*/

body{
    background-color: #333;
    font-family: sans-serif;
}

.title{
    text-align: center;
    padding: 15px;
}

h1{
    font-size: 1.4rem;
}

.bola1{
    position: fixed;
    width: 400px;
    height: 400px;
    background: linear-gradient(to top, #48e 10%, #42e 80%);
    border-radius: 50%;
    top: 0;
    left: 300px;
}

.bola2{
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(to top, #4e3 10%, rgb(240, 255, 34) 80%);
    border-radius: 50%;
    bottom: 0;
    right: 300px;
    z-index: -1;
}

.card{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    width: clamp(270px,50vw,350px);
    min-height: 500px;
    border: 1px solid #fff3;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    backdrop-filter: blur(10px);
}

.container{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 8px;
    width: 94%;
    background-color: #0003;
    border-radius: 10px;
    padding: 8px;
    position: relative;
    bottom: 0;
    left: 0;
    transition: bottom 1s, left 1s, background 1s,transform 1s;
    overflow: hidden;
}

.container:hover{
    bottom: 10px;
    left: 30px;
    background-color: #fff;
    color: #333;
    transform:scale(1.1)
}

p{
    font-size: clamp(.8rem,3vw,1rem);
}

.container:hover p{
    color: #555;
}

.img img{
    max-width: 50px;
    max-height: 60px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 10px;
}


.pocision{
    font-size: clamp(1.5rem,10vw,3rem);
    position: absolute;
    right: -150px;
    opacity: 0;
    transition: opacity 1.8s, right .6s;
    color: #48e;
    font-weight: bold;
}

.container:hover .pocision{
    opacity: 1;
    right: 10px;
}


